"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'
Plug 'machakann/vim-highlightedyank'
Plug 'vim-scripts/argtextobj.vim'

set scrolloff=7
set noerrorbells
set visualbell
set incsearch
set ignorecase
set hlsearch
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
set relativenumber
set number
set quickscope
set ideamarks

set clipboard+=unnamed
set clipboard+=ideaput

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

vmap < <gv
vmap > >gv

nmap Y y$

nmap H _
vmap H _
nmap L $
vmap L $

let mapleader=" "

nnoremap <leader>n :nohl<CR>

nnoremap n nzzzv
nnoremap N Nzzzv

vnoremap J :action MoveLineDown<cr>
vnoremap K :action MoveLineUp<cr>

map ;f <Action>(GotoFile)
map ;r <Action>(FindInPath)
map fe <Action>(RecentFiles)
map fs <Action>(ShowNavBar)
map <Leader>r   <Action>(ChooseRunConfiguration)
map <leader>R   <Action>(RenameElement)
map <Leader>s   <Action>(FileStructurePopup)
map <Leader>d   <Action>(ChooseDebugConfiguration)
map <Leader>b   <Action>(ToggleLineBreakpoint)
map <leader>rh :action Vcs.RollbackChangedLines<CR>
map <leader>o <Action>(ManageRecentProjects)
map gl <Action>(ShowErrorDescription)
map gt <Action>(GotoTest)
map gi <Action>(GotoImplementation)
map gr <Action>(GotoReference)
map <c-o> <Action>(Back)
map <c-i> <Action>(Forward)
map ]] <Action>(GotoNextError)
map <TAB> <Action>(PreviousTab)
map <s-TAB> <Action>(NextTab)

" Extract actions
map <Leader>xi <Action>(ExtractInterface)
map <Leader>xs <Action>(ExtractSuperclass)
map <Leader>xc <Action>(ExtractClass)
map <Leader>xm <Action>(ExtractMethod)

" fix actions
nmap <Leader>ff <Action>(ReformatCode)
nmap <Leader>fi <Action>(OptimizeImports)

" Git
nmap <leader>gb :action Git.Branches<CR>

let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
let g:qs_accepted_chars = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
let g:qs_primary_color = '#ff0000'
let g:qs_secondary_color = '#ff00ff'